<nav class="navbar navbar-expand"  style="background-color: #04504c;">
  <div class="container-fluid">
    <a class="navbar-brand navbar" href="#">
      <img src="assets/Logo.jpg" alt="" width="40" height="40" class="d-inline-block align-text-top">
      <h5 class="h5">Espaço Aura</h5>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">

      <a href="https://getbootstrap.com/docs/5.2/components/buttons/">
        <button class="btn btn-warning me-md-2 " style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="button">Login</button>
      </a>
      <a href="https://getbootstrap.com/docs/5.2/components/buttons/">
        <button class="btn btn-warning me-md-2 " style="--bs-btn-padding-y: .50rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="button">Cadastrar</button>
      </a>
    </div>
  </div>
</nav>
