<div class="box">
<div class="row">
<form>
  <fieldset>
    <legend><br>Login<br></legend>
  <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="email" class="col-form-label">Email</label>
    <input type="email" class="form-control" id="email" required>

  </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label for="inputPassword6" class="col-form-label">Senha</label>
    </div>
    <div class="col-auto">
      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" required>
    </div>
    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
      </span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</fieldset>
</form>
</div>
</div>
<br>
